#mydiv{
    margin-left: 522px;
 margin-top:20px;
   justify-content: center;
    align-content: center;
    border: 5px solid rgb(46, 63, 62);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 20px;
    width:30%;
}